# Standard fair
.DS_Store
*~
*.py?
*.sw?
*.egg-info
*.egg
*.sock
.fabhosts
whoosh.index
dist
sdist
build
pip-log.txt
MANIFEST

# ETL
etl/harvestdb.properties
etl/harvestdb_postgres.properties
etl/harvestdb_sqlite.properties
etl/harvestdb.sqlite

# Ignore local settings file intended for environment-specific settings
settings
local_settings.py

# Ignore optimized javascripts
openmrs/static/scripts/javascript/min

# Collected static files via Django's staticfiles app
_site/static

# Do not version user uploaded content since these files might be huge.
# Have another strategy for backing up this content.
_site/media
.DS_Store
.idea
.vagrant
settings

pcgc.db
*~
*.py[co]
*.class
*.swp
*.dir_bash_history
whoosh.index
dist
logs
sdist
build
pip-log.txt
MANIFEST

.watch-pid
.sass-cache
pcgc/.coverage

# Scala build files
pcgc_conn.properties
pcgc/build

# ignore local settings file intended for environment-specific settings
apache.conf
local_settings.py

# ignore optimized javascripts
pcgc/static/scripts/javascript/min

# ignore submodule derived files. uncomment the below lines if you want
# to rebuild all the submodule code all for each checkout. html5-boilerplate
# files copied into _site should not be ignored since those files are intended
# to be changed to fit the site's requirements
*.js
!bin/r.js
!pcgc/templates/_cilantro.js
!pcgc/static/cilantro/js/**/*.js
!pcgc/static/vocabulary/js/**/*.js

# all Sass files will be compiled into this directory
pcgc/static/stylesheets/css

# Ignore pedigree_images and expedat files if a developer
# places them in static:
pcgc/static/expedat
pcgc/static/pedigree_files

# Collected static files via Django's staticfiles app
_site/static

# Do not version user uploaded content since these files might be huge.
# Have another strategy for backing up this content.
_site/media
