# Standard fair
.DS_Store
*~
*.py?
*.sw?
*.egg-info
*.egg
*.sock
dist
sdist
#build
pip-log.txt
MANIFEST

# ETL
etl/harvestdb.properties
etl/harvestdb_postgres.properties
etl/harvestdb_sqlite.properties
etl/harvestdb.sqlite

# Sass/Coffee
.watch-pid
.sass-cache

# Ignore local settings file intended for environment-specific settings
settings
local_settings.py
openmrs.db
# Ignore compiled coffeescripts
openmrs/static/scripts/javascript/src/core/mixins.js
openmrs/static/scripts/javascript/src/environ.js
openmrs/static/scripts/javascript/src/main.js

# Ignore optimized javascripts
openmrs/static/scripts/javascript/min

# All Sass files will be compiled into this directory
openmrs/static/stylesheets/css/*.css
!openmrs/static/stylesheets/img

# Collected static files via Django's staticfiles app
_site/static

# Do not version user uploaded content since these files might be huge.
# Have another strategy for backing up this content.
_site/media
