include requirements.txt
include wsgi.py
include bin/manage.py
include Makefile

graft _site
graft server

global-exclude .DS_Store

exclude openmrs/static/scripts/javascript/app.build.js
exclude openmrs/static/scripts/javascript/min/build.txt
exclude openmrs/conf/local_settings.py

prune _site/static
prune openmrs/static/scripts/coffeescript
prune openmrs/static/stylesheets/scss
prune tests
