Django>=1.5,<1.6
python-memcached

# Database Drivers, the Python stdlib has support for SQLite
psycopg2

# WSGI server
# uWSGI

# Deployment with fabfile.py


# Harvest components
avocado>=2.4,<2.5
serrano>=2.4,<2.5

# Harvest extensions
django-haystack==2.0.0
whoosh==2.4.1
openpyxl
