Django>=1.5,<1.6
Markdown

# Harvest components
-e git+https://github.com/chop-dbhi/avocado@c88562e025535#egg=avocado
-e git+https://github.com/chop-dbhi/serrano@f5c4419566147#egg=serrano

# Harvest extensions
django-haystack==2.0.0
whoosh==2.4.1
openpyxl
