{% extends "cilantro/_index.html" %}

{% block jsconfig %}
    {{ block.super }}
    <script>
        App.defaults.dataview = {
            columns: [10, 1, 2, 48, 50, 8],
            ordering: [[10, 'asc']]
        };
    </script>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        require(['jquery'], function($) {
            $(function() {
                var url = App.SCRIPT_NAME + '/',
                    modal = $('#tutorial-modal'),
                    body = modal.find('.modal-body');

                body.load(url + ' #tutorial')
                    .on('click', 'a', function(event) {
                        event.preventDefault();
                    });

                var tutorial = $('<a href=#><i class="icon-star icon-white"></i> Tutorial</a>');

                tutorial.on('click', function(event) {
                    event.preventDefault();
                    modal.modal('show');
                });

                var li = $('<li />').append(tutorial);
                $('.navbar .nav.pull-right').append(li);
            });
        });
    </script>
{% endblock %}

{% block extra_content %}
    <div id=tutorial-modal class="modal hide" role=dialog tabindex=-1>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class=btn data-dismiss=modal>Close</button>
        </div>
    </div>
{% endblock %}
