{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class=container-fluid>
        <div class=row-fluid>
            <div class=span12>
                <div class=hero-unit>
                    <h1 class=heading>Harvest + OpenMRS</h1>    
                    <h4>Explore a subset of the OpenMRS demo data with Harvest</h4>
                    <a href="{% url "cilantro:discover" %}" class="btn btn-primary">To The Demo!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
